@model GraduateSubmissionsMVC.Models.General.ApplicantModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ApplicantModel</legend>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">StudentID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentID)
    </div>

    <div class="display-label">PhoneNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
