@model GraduateSubmissionsMVC.Models.General.GraduateApplicationV1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GraduateApplicationV1</legend>

    <div class="display-label">ApplicantName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplicantName)
    </div>

    <div class="display-label">ApplicantStudentId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplicantStudentId)
    </div>

    <div class="display-label">PhoneNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">Term</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Term)
    </div>

    <div class="display-label">EntryDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EntryDate)
    </div>

    <div class="display-label">ApplicationContent</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ApplicationContent)
    </div>

    <div class="display-label">Department</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
