@model GraduateSubmissionsMVC.Models.General.TransitionOptionModel

@{
    ViewBag.Title = "Edit Transition Option";
}

<h2>Edit Transition Option</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
     <div class="editor-box">
        <div class="unit">

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        </div>
        </div>

        <div class="upload-unit">
        <p>
            <input type="submit" value="Save" />
        </p>
        </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
