@model GraduateSubmissionsMVC.Models.AllReviewViewModel
@{
    ViewBag.Title = "Decisions";
}

<h2>All Decisions for @Model.Application.firstname @Model.Application.lastname</h2>


<div class="review-box">
    <table>
        <tr>
            <th>Decider</th>
            <th>Frist Name</th>
            <th>Last Name</th>
            <th>Date Reviewed</th>
            <th>Percent Complete</th>
        </tr>
            @foreach (var reviewers in Model.ReviewList)
            {
                <tr>
                <td>@reviewers.user</td>
                <td>@reviewers.FirstName</td>
                <td>@reviewers.LastName</td>
                <td>@reviewers.date</td>
                <td>@reviewers.percentage %</td>
                </tr>
            }
    </table>
</div>