@model GraduateSubmissionsMVC.Models.TransitionCourseModel

@{
    ViewBag.Title = "Add Transition Course";
}

<h2>Transition Course</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div class="editor-box">
       <div class="unit">
        <div class="editor-label">
            @Html.LabelFor(model => model.DepartmentID, "Department")
        <div class="editor-field">
            @Html.DropDownList("DepartmentID", String.Empty)
            @Html.ValidationMessageFor(model => model.DepartmentID)
        </div>
        </div>
        </div>

        <div class="unit">
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        </div>
        </div>

        <div class="unit">
        <div class="editor-label">
            @Html.LabelFor(model => model.Number)
        <div class="editor-field">
            @Html.EditorFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
        </div>
        </div>
        </div>

        <div class="unit">
        <div class="editor-label">
            @Html.LabelFor(model => model.CreditHour)
        <div class="editor-field">
            @Html.EditorFor(model => model.CreditHour)
            @Html.ValidationMessageFor(model => model.CreditHour)
        </div>
        </div>
        </div>

        <div class="unit" style=" margin-left: auto; margin-right: auto; width:400px;">
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
                <div class="editor-field-larger">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
        </div>

        <div class="upload-unit">
        <p>
            <input type="submit" value="Create" />
        </p>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
