@model GraduateSubmissionsMVC.Models.TransitionCourseModel

@{
    ViewBag.Title = "Delete Transition Course";
}

<h2>Delete Transition Course</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="editor-box">
    Department: @Html.DisplayFor(model => model.Department.Name)
    <br />
    Name: @Html.DisplayFor(model => model.Name)
    <br />
    Number: @Html.DisplayFor(model => model.Number)
    <br />
    CreditHour: @Html.DisplayFor(model => model.CreditHour)
    <br />
    Description: @Html.DisplayFor(model => model.Description)
    <br />
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
    </p>
}
</div>

 <p>
        @Html.ActionLink("Back to List", "Index")
</p>
