@model GraduateSubmissionsMVC.Models.TransitionCourseModel

@{
    ViewBag.Title = " Transition Course Details";
}

<h2>Transition Course Details</h2>

<div class="editor-box">
    Department: @Html.DisplayFor(model => model.Department.Name)
    <br />
    Name: @Html.DisplayFor(model => model.Name)
    <br />
    Number: @Html.DisplayFor(model => model.Number)
    <br />
    CreditHour: @Html.DisplayFor(model => model.CreditHour)
    <br />
    Description: @Html.DisplayFor(model => model.Description)
    <br />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
