@{
    ViewBag.Title = "System Administrator";
}

<h2>Sysadmin</h2>

    <p>@Html.ActionLink("Manage school terms", "Index", "Term")</p>
	<p>@Html.ActionLink("Manage departments", "Index", "Department")</p>
	<p>@Html.ActionLink("Manage transition courses", "Index", "TransitionCourse")</p>
	<p>@Html.ActionLink("Manage transition course options", "Index", "TransitionOption")</p>
	<p>@Html.ActionLink("Manage users", "Users", "Account")</p>