@model GraduateSubmissionsMVC.Models.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="editor-box">
    Term: @Html.DisplayFor(model => model.Term.Name)
    <br />
    <br />
    First Name: @Html.DisplayFor(model => model.firstname)
    <br />
    <br />
    Lastname: @Html.DisplayFor(model => model.lastname)
    <br />
    <br />
    Number: @Html.DisplayFor(model => model.number)
    <br />
    <br />
    E-mail: @Html.DisplayFor(model => model.email)
    <br />
    <br />
    Personal Info @Html.DisplayFor(model => model.PersonalInfo)
    <br />
    <br />
    Applied Before:@Html.DisplayFor(model => model.AppliedBefore)
    <br />
    <br />
    Date Applied Before: @Html.DisplayFor(model => model.DateAppliedBefore)
    <br />
    <br />
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
