@model IEnumerable<GraduateSubmissionsMVC.Models.ApplicationViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Applications</h2>

<p>
    @Html.ActionLink("Add Application", "Create")
</p>
<table>
    <tr>
        <th>
            Term
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Phone Number
        </th>
        <th>
            E-mail
        </th>
        <th>
            Personal Info
        </th>
        <th>
            Applied Before
        </th>
        <th>
            Date Applied Before
        </th>
        <th>
            Departments
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item.Term.Name + " " + item.Term.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application.PersonalInfo)
        </td>
        <td>
            @if (item.Application.AppliedBefore)
            {
                @Html.Raw("Yes")
            }
            else
            {
                @Html.Raw("No")
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application.DateAppliedBefore)
        </td>

        <td>
            @for (int i = 0, k = 1; i < item.DepartmentList.Count; i++, k++)
            {
                @Html.Raw(k + ". " + item.DepartmentList[i].Name + "<br \\>")
            }
        </td>
        
    </tr>
}

</table>
